.home-hero-wrapper {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.hero-copy-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.hero-copy-container h1 {
  font-family: var(--hero-font);
  color: var(--white);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 8rem;
  text-shadow: 0 0 0.2rem var(--ems-blue), 0 0 0.3rem var(--ems-blue),
    0 0 0.4rem var(--ems-blue), 0 0 1rem var(--ems-blue),
    0 0 2rem var(--light-blue), 0 0 3rem var(--light-blue);
}

.hero-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-button-container a,
.hero-button-container a:visited {
  font-family: var(--menu-font);
  color: var(--white);
  text-transform: none;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.15rem solid var(--white);
  text-decoration: none;
  transition: 1s;
}

.hero-button-container a:nth-child(1) {
  background-image: linear-gradient(
    -20deg,
    var(--ems-blue) 0%,
    var(--light-blue) 100%
  );
}

.hero-button-container a:hover,
.hero-button-container a:focus {
  background-image: linear-gradient(
    -20deg,
    var(--ems-blue) 0%,
    var(--light-blue) 100%
  );
  transform: translateY(-0.5rem);
}

.hero-button-container a:nth-child(1):hover,
.hero-button-container a:nth-child(1):focus {
  background-image: none;
}
