.home-page {
  background-color: var(--white);
  height: calc(var(--footer-height) * 0.8);
  display: flex;
  flex-direction: row;
}

.home-page img {
  position: absolute;
  right: 0;
  bottom: calc(var(--footer-height) * 0.8);
  width: 58vw;
}

.home-page-container {
  margin: 2rem;
}
