:root {
  --ems-blue: #11468f;
  --ems-red: #f90716;
  --black: #000000;
  --white: #eeeeee;
  --body-font: "Roboto", sans-serif;
  --menu-font: "Josefin Sans", sans-serif;
  --logo-font: "Pacifico", cursive;
  font-size: 16px;
}

.master-container {
  margin: auto;
  width: 100rem;
}

@media only screen and (max-width: 100rem) {
  .master-container {
    width: 75rem;
  }
}

@media only screen and (max-width: 75rem) {
  .master-container {
    width: 60rem;
  }
}

@media only screen and (max-width: 60rem) {
  .master-container {
    width: 48rem;
  }
}

@media only screen and (max-width: 48rem) {
  .master-container {
    width: 34.375rem;
  }
}

@media only screen and (max-width: 34.375rem) {
  .master-container {
    width: 23.75rem;
  }
}

@media only screen and (max-width: 23.75rem) {
  .master-container {
    width: 20rem;
  }
}

@media only screen and (max-width: 20rem) {
  .master-container {
    width: 18.75rem;
  }
}
