.menu-container {
  background-color: var(--black);
  width: 40%;
  height: calc(var(--footer-height) - 2rem);
  border-radius: 0 5rem 0 0;
  box-shadow: 0.5rem 0.5rem 1rem var(--black);
  order: 1;
  padding: 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  z-index: 100;
}

.menu-wrapper {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.menu-content {
  order: 2;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu-copy {
  color: var(--white);
  font-family: var(--body-font);
  font-weight: 500;
  padding-top: 1rem;
  font-size: 1.2rem;
}
.menu-footer {
  order: 3;
  width: 100%;
  margin-top: auto;
}
