.nav-wrapper {
  margin-right: 0.5rem;
}

.menu-button {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 2rem;
  border: 0.15rem solid var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  font-family: var(--menu-font);
  color: var(--white);
}

.menu-button::after {
  content: "Menu";
}

.menu-button:hover:after,
.menu-button:focus:after {
  content: "x";
}
.menu-button:hover,
.menu-button:focus {
  -webkit-animation: spin 1s forwards;
  -moz-animation: spin 1s forwards;
  animation: spin 1s forwards;
  animation-delay: 300ms;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.nav-container {
  position: absolute;
}

.nav-container div nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1.25rem;
}

.nav-container div nav a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.nav-container div nav a img {
  width: 3.125rem;
  height: 3.125rem;
}

.nav-container div nav a p {
  padding-top: 0.25rem;
}

.nav-container div nav a:not(:first-child) {
  margin-top: 1rem;
}

nav a,
nav a:visited,
nav a:hover,
nav a:focus {
  font-family: var(--menu-font);
  font-weight: 300;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-size: 1rem;
  max-width: 3.125rem;
  transition: 0.5s;
}

nav a:hover,
nav a:focus {
  opacity: 0.5;
}
